<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <table>
    <thead>
    <tr>
      <th>item list</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>번호</td>
      <td>이미지</td>
      <td>작성자</td>
      <td>제목</td>
      <td>내용</td>
      <td>마감기한</td>
      <td>시작가</td>
      <td>등록일</td>
      <td>조회수</td>
    </tr>
    <tr th:each="item : ${items}">
      <td th:text="${item.item_no}"></td>
      <td>
        <!--<img th:src="@{'/images/'+${files.fileName}}" style="width: 300px; height:auto;">-->
        <!--여기에 item_no에 해당하는 사진들중 첫번째거가 나오게--> (대표이미지)
      </td>
      <td th:text="${item.writer}"></td>
      <td>
        <a th:href="@{'/items/' + ${item.item_no}}">
          <span th:text="${item.title}"> </span>
        </a>
      </td>
      <td><textarea th:text="${item.content}"></textarea></td>
      <td th:text="${item.deadline}"></td>
      <td th:text="${item.starting_bid}"></td>
      <td th:text="${item.reg_date}"></td>
      <td th:text="${item.cnt}"></td>

    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
